# macOS
.DS_Store

# Swift Package Manager
.build/
Packages/
Package.resolved
.swiftpm/

# Xcode
DerivedData/
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Local configuration
.netrc
